@charset "utf-8";

.under_kv{
  background-image: url(../../images/underPage/about_kv.jpg);
}

/* feature */
.fixed_bg{
  background-image: url(../../images/underPage/feature_bg.jpg);
  background-position: center top;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}
.feature{
  position: relative;
  padding: 80px 0 90px;
  text-align: center;
}
.feature h2{
  margin: auto;
}
.feature .title_line{
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.feature_attention{
  padding: 0 5px;
  background-color: #002D80;
}
.feature_content{
  margin: 80px 0 50px;
  padding: 60px 40px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  gap: 40px;
}
.feature_flex{
  text-align: left;
  display: flex;
  gap: 40px;
}
.feature_content_title{
  margin-bottom: 30px;
}
.feature_content_title span{
  font-family: var(--trade-gothic);
  font-weight: 900;
  font-style: italic;
}
.feature_flex img{
  width: 360px;
  height: 100%;
}
.flex_reverse{
  flex-direction: row-reverse;
}
.because{
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 50px;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* repeat */
.repeat{
  padding: 210px 0 100px;
  background-image: url(../../images/underPage/repeat_bg.png);
  background-position: top;
}
.repeat_flex{
  display: flex;
  justify-content: space-around;
  gap: 40px;
}
.repeat_flex img{
  width: 360px;
  height: 100%;
}
.repeat .title_line{
  border-bottom: 1px solid white;
}
.repeat .section_title{
  position: relative;
  margin-bottom: 40px;
}

/* voice */
.voice{
  padding: 80px 0;
  background-image: url(../../images/underPage/voice_bg.jpg);
  text-align: center;
}
.voice .title_line{
  border-bottom: 1px solid white;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.swiper-slide{
  background-color: #fff;
  padding: 50px 60px;
  border-radius: 10px;
}
.swiper-inner{
  display: flex;
  gap: 40px;
  align-items: start;
  text-align: left;
}
.swiper-inner h4{
  margin-bottom: 20px;
}
.swiper-inner img{
  width: 360px;
}

/* greeting */
.greeting{
  padding-top: 80px;
  position: relative;
}
.greeting_message{
  width: 65%;
  color: #fff;
  background-color: #002D80;
  border-radius: 10px 0 0 10px;
  margin: -100px 0 0 auto;
  padding: 100px 0 100px 180px;
}
.greeting_message p{
  width: 72%;
}
.greeting_attention{
  font-family: var(--trade-gothic);
  font-weight: 400;
  font-size: 50px;
  font-style: italic;
}
.president_name{
  font-size: 26px;
  margin-top: 60px;
  text-align: right;
}
.president_img{
  width: 35%;
  margin-top: -400px;
  margin-left: 80px;
}

/* footer */
.bottom_contact-wrapper{
  border-left: 1px solid #002D80;
}

@media (max-width: 1200px) {
  /* greeting */
  .greeting_message{
    width: 70%;
    padding: 60px 0 60px 160px;
    margin-top: -50px;
  }
  .greeting_message p{
    width: 90%;
  }
  .greeting_attention{
    font-size: 40px;
  }
  .president_img{
    width: 50%;
    margin-top: -400px;
    margin-left: -10%;
  }
  .greeting_deco{
    position: absolute;
    left: -50px;
    bottom: 0;
  }
}

@media (max-width: 893px) {
  /* feature */
  .feature_content{
    margin-bottom: 0;
  }
  .feature_flex img{
    width: 50%;
    height: 100%;
  }
  .because{
    font-size: 40px;
  }

  /* repeat */
  .repeat{
    padding: 160px 0 80px;
  }
  .repeat .section_title{
    position: relative;
    margin-bottom: 30px;
  }
  .repeat_flex img{
    width: 300px;
  }

  /* voice */
  .swiper-slide{
    background-color: #fff;
    padding: 40px 50px;
  }
  .swiper-inner img{
    width: 280px;
  }

  /* greeting */
  .greeting{
    margin-bottom: 160px;
  }
  .greeting_message{
    padding: 60px 0 60px 120px;
    width: 70%;
  }
  .greeting_message p{
    width: 85%;
  }
}

@media (max-width: 767px) {
  .under_kv{
    background-image: url(../../images/underPage/sp/about_kv.jpg);
  }

  /* feature */
  .fixed_bg{
    background-image: url(../../images/underPage/sp/feature_bg.jpg);
  }
  .feature{
    padding: 60px 0 60px;
  }
  .feature_content{
    margin: 50px 0 30px;
    padding: 30px 20px;
  }
  .feature_flex{
    flex-flow: column;
    flex-direction:column-reverse;
    gap: 20px;
  }
  .feature_content_title{
    margin-bottom: 20px;
  }
  .feature_flex img{
    width: 100%;
    height: 100%;
  }
  .because{
    width: 100%;
    gap: 10px;
    font-size: 34px;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .because img{
    width: 40px;
  }

  /* repeat */
  .repeat{
    padding: 100px 0 80px;
    background-image: url(../../images/underPage/sp/repeat_bg.png);
  }
  .repeat .title_line{
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  .repeat_flex{
    flex-flow: column;
    flex-direction:column-reverse;
    gap: 40px;
    text-align: center;
    align-items: center;
  }
  .repeat_flex img{
    width: 100%;
  }

  /* voice */
  .voice{
    padding: 60px 0;
    background-image: url(../../images/underPage/sp/voice_bg.jpg);
  }
  .swiper-slide{
    padding: 30px;
    border-radius: 10px;
  }
  .swiper-inner{
    flex-flow: column;
    gap: 20px;
  }

  /* greeting */
  .greeting{
    margin-bottom: 0;
    padding-top: 60px;
  }
  .greeting_message{
    width: 95%;
    margin: 0 0 0 auto;
    padding: 30px 20px;
  }
  .greeting_message p{
    width: 100%;
  }
  .greeting_attention{
    font-size: 38px;
  }
  .president_name{
    font-size: 16px;
    margin-top: 120px;
  }
  .president_img{
    width: 280px;
    margin-top: -130px;
    margin-left: 0;
  }
}