@charset "utf-8";

.under_kv{
    background-image: url(../../images/underpageNew/contact_kv-v2.jpg);
}
.contact_page{
    background-color: #E6F5FC;
    padding-top: 100px;
}

@media (max-width: 767px) {
    .under_kv{
        background-image: url(../../images/underpageNew/contact_kv_sp-v2.jpg);
    }
    .contact_page{
        padding-top: 80px;
    }
}