@charset "utf-8";

.under_kv{
    background-image: url(../../images/underPage/news_kv.jpg);
}

/* news */
.news{
    background-color: #E6F5FC;
    padding: 80px 0;
}
.news_inner{
    background-color: #fff;
    padding: 80px 0 60px;
    border-radius: 10px;
}
.news_content{
    display: flex;
    flex-flow: column;
    margin-bottom: 40px;
    font-weight: bold;
}
.news_items {
    color: #002D80;
    display: flex;
    gap: 30px;
    margin: 0 auto 30px;
    width: 70%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: #002D80 solid 1px;
}
.news_text {
    display: block;
    margin: auto;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news_items:hover {
    color: #2BB9FC;
    transition: 0.3s;
    border-bottom: #2BB9FC solid 1px;
}
.news_items a{
    color: #002D80;
}
.news_items a:hover{
    transition: 0.3s;
    color: #2BB9FC;
}

/* more btn */
.news_items {
    opacity: 1;
}
.news_items.is-hidden {
    opacity: 0;
    height: 0;
    margin: 0;
}
.is-hidden {
    display:none;
}
.section_btn.is-btn-hidden{
    display:none;
}

@media (max-width: 767px) {
    .under_kv{
    background-image: url(../../images/underPage/sp/news_kv_sp.jpg);
    }
    .news{
        padding: 80px 0;
    }
    .news_inner{
        padding: 30px 0 40px;
    }
    .news_content{
        margin-bottom: 20px;
    }
    .news_items {
        display: block;
        gap: 30px;
        margin: 0 auto 20px;
        width: 85%;
        border-bottom: #002D80 solid 1px;
        line-height: 1.6rem;
    }
}