@charset "utf-8";

.under_kv{
    background-image: url(../../images/underpageNew/price_kv-v2.jpg);
}

/* clear_accounting */
.clear_accounting {
    text-align: center;
    padding: 80px 0 90px;
    background-color: #E6F5FC;
}
.gradient_text {
    width: auto;
}
.clear_accounting .title_line{
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}
table{
    margin: 60px 0;
}
.collapse {
    border-collapse: collapse;
}
tr {
    height: 70px;
}
th {
    border: solid 5px #E6F5FC;
    border-radius: 15px 15px 0 0;
    height: 75px;
    font-size: 24px;
}
td {
    border: solid 5px #E6F5FC;
    box-sizing:content-box;
}
.table_left {
    width: 190px;
    color: #fff;
    font-weight: bold;
    background-color: #8B8B8B;
    border-radius: 15px 0 0 15px;
}
.table_width {
    width: 400px;
}
.table_end{
    border-radius: 0 0 15px 0;
}
.bank{
    margin-top: 40px;
    background-color: #fff;
    padding: 50px 0;
}

@media (max-width: 1200px) {
    /* clear_accounting */
    .title_line{
        top: 180px;
    }
    .section_title h3{
        margin-top: 30px;
    }
    .clear_accounting {
        padding: 60px 0;
    }
    table{
        margin: 50px 0;
    }
    .table_width{
        width: 40%;
    }
    th {
        font-size: 18px;
    }
}

@media (max-width: 767px) {
    .under_kv{
        background-image: url(../../images/underpageNew/price_kv_sp-v2.jpg);
    }
}