@charset "utf-8";

.under_kv{
    background-image: url(../../images/underpageNew/recruit_kv-v2.jpg);
}
.recruit_page{
    background-color: #E6F5FC;
    padding-top: 100px;
}
.recruiting{
    margin: auto;
    width: 880px;
    margin-bottom: 100px;
}
.recruiting h3{
    font-size: 40px;
    width: 170px;
    margin: 0 auto 60px;
}
.recruiting ul{
    margin-top: 30px;
    padding: 0;
}
.recruiting ol{
    margin-top: 0;
    padding: 0;
}
@media (max-width: 1000px) {
    .recruiting{
        width: 100%;
    }
}

@media (max-width: 767px) {
    .under_kv{
        background-image: url(../../images/underpageNew/recruit_kv_sp-v2.jpg);   
     }
    .recruiting h3{
        margin: 0 auto 50px;
    }
    .recruit_page{
        padding-top: 80px;
    }
    .recruiting{
        width: 100%;
        margin-bottom: 80px;
    }
}

