#about {
  z-index: 1;
  background-color: #2bb9fc;
  padding-bottom: 150px;
}

.kv2 {
  z-index: -1;
}

.about-img_container {
  position: relative;
  transform: translateY(-35%);
  width: 65vw;
  height: 661.48px;
  background-image: url(../../images/hero/index_kv2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 0;
}
.filter {
  position: absolute;
  inset: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  z-index: 2;
}

.about-main {
  z-index: 3;
  display: flex;
  position: relative;
  gap: 60px;
  margin-top: -400px;
}

.about-main_description {
  line-height: 44.5px;
}

.about-logo {
  width: 478.38px;
  height: 661.48px;
  margin-top: 120px;
}
@media (min-width: 1800px) {
  .about_title {
    left: 36%; /*adjust it so that its aligned in bigger screens*/
  }
}

/*----------------------------
   Mobile
----------------------------*/
@media (max-width: 768px) {
  .about-img_container {
    position: relative;
    transform: translateY(-35%);
    width: 85vw;
    height: 661.48px;
    background-image: url(../../images/hero/index_kv2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 0;
  }
}
@media (max-width: 425px) {
  #about {
  
    padding-bottom: 80px;
  }
  .about-img_container {
    position: relative;
    transform: translateY(-40%);
    /* width: 350px;
    height: 550px; */
    background-image: url(../../images/aboutSection/abt-imgMV.jpg);
    /* background-image: none; */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left bottom;
    margin-bottom: 0;
    background-position: -200px 120px;
    /* border: 1px solid red */
   
  }
  .about_title {
    margin-top: 65px;
  }
  .about-logo {
    position: absolute;
    z-index: -1;
    width: 175px;
    height: 241.98px;
    top: 47%;
    left: 50%;
  }
  .about-main_description {
    line-height: 42px;
  }
  .section_btn.about-btn {
    margin-top: 25px;
  }
  .about-btn{
    width: 190px;
    height: 46px;
    display: grid;
    place-content: center;
  }
  .about-main_title{
    line-height: 48px;
  }
 
}
