#about {
    z-index: 1;
    /* height: 1000px; */
    background-color: #2BB9FC;
    /* border: 1px solid red; */
  }

  .kv2{
    z-index: -1;
  }

  .about-img_container{
    position: relative;
    /* border: 5px solid red; */
  }
  .about_title{
    position: absolute;
    z-index: 2;
    bottom: 28%;
    left: 240px;
    
  }

  .filter_wrapper{
    position: relative;
    border: 1px soild red;
    width: 1084px;
    height: 568px;
    transform: translateY(-35%);
  }

  .filter{
    position: absolute;
    inset: 0;
    opacity: .6;
    z-index: 2;
    
  }

  .about-main{
    grid-column: 2;
    z-index: 3;
    transform: translateY(-30%);
    display: flex;
    
    gap: 48.4px;
    /* border: 1px solid red; */
  }

  .about-main_description{
    line-height: 44.5px;
  }

  .about-logo{
    width: 478.38px;
    height: 661.48px;
  }