#blog{
    min-height: 758px;
    display: grid;
    grid-template-columns: 356px 1fr 245.4px;
}

.blog-container{
    /* border: 1px solid red; */
    grid-column: 2;
}

.blog-title_wrapper{
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.blog-title_wrapper::after{
    content: "";
    height: 1px;
    width: 50%;
    background-color: #002D80;
    position: absolute;
    bottom: 15px;
    right: 0;
}
.blog-card_main{
    border: 1px solid #002D80; 
    border-radius: 0 10px 10px 10px;
    padding-left: 30px;
    padding-right: 34px;
  
    width: 100%;
    padding-bottom: 15.9px;
}
.blog-card{
    /* border: 1px solid #002D80; */
    width:400px ;
    height: 300px;
}

.blog-card_date{
    background-color:#2BB9FC ;
    border-radius: 10px 10px 0 0;
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider {
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
    /* border: 1px solid red; */
    height: 100%;
    transform: translateX(-70%);
    border: 1px solid green;
    width: max-content;
    grid-column: 1;
    overflow: hidden;
   

}
.track{
    height: 100%;
    border: 1px solid darkorange;
    position: relative;
    width: 100vw;
}

.slider-container{
    grid-column: 1/4;
    /* border: 1px solid red; */
    /* transform: translateX(-35%); */
    padding-right: 40px;
    overflow: hidden;
    /* border: 1px solid red; */

}
.slider_btn{
    background-color: transparent;
    width: 50px;
    height: 50px;
    border: 1px solid black;
   

}

.blog-card{
    /* transform: translate(440px) */
    /* transform: translate(880px) */
    /* transform: translate(1320px) */
    /* transform: translate(1760px) */
    transition: transform 0.4s ease-in-out;
}

.btn_container{
    position: absolute;
    bottom: 0;
    left: 70%;
}