#case {
  background: url(../../images/caseSection/casebgS.jpg);
  width: 100%;
  min-height: 2164.87px;
  clip-path: polygon(0 76%, 0 0, 100% 0, 100% 77%, 48% 91%);
  z-index: 2;
  /* margin-top: 0; */
  padding-bottom: 300px;
}
.case-main{
    justify-items: end
}
.case_title{
    /* border: 1px solid red; */
    padding: 0;
    margin-bottom: -15px;
}
.case-title_wrapper{
    width: 50%;
   padding-top: 0;
   padding-bottom: 0;
   grid-column: 2;
   display: flex;
   align-items: center;
   justify-content: end;
   border-bottom: 2px solid #002D80;
   margin-top: -35px;
}


/* ------------------- */
/* case banner   */
/* ------------------- */
.case-banner_wrapper {
  z-index: -1;
  margin-top: -600px;
  position: relative;
}

.case-banner_filter {
  z-index: 3;
  position: absolute;
  inset: 0;
  opacity: 0.6;
}

.case-banner_text {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 4;
}


/* ------------------- */
/* case card   */
/* ------------------- */
.case-card_wrapper{
 
    grid-column: 2;
    width: 100%;
    display: grid;
    place-items: center;
}
.case-card_list{
    border: 1px solid red;
    width: min-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
}
.case-card{
    width: 400px;
    height: 300px;
    background-color: #002D80;
    border-radius: 10px;
    margin-bottom: 60px;
}

.case-card_1,
.case-card_3,
.case-card_5,
.case-card_7
{
    grid-column: 2;
}

.case-card_2,
.case-card_4,
.case-card_6,
.case-card_8{
    grid-column: 1;
    transform: translateY(-150px);
}
