/* ------------------- */
/*         CASE        */
/* ------------------- */
#case {
  background: url(../../images/caseSection/casebgS.jpg);
  background-attachment: fixed; /*parallax */
  width: 100%;
  /* min-height: 2164.87px; */
  /* min-height: auto; */
  /* clip-path: polygon(0 76%, 0 0, 100% 0, 100% 77%, 48% 91%);   ver1 */
  /* clip-path: polygon(100% 0, 100% 95%, 51% 100%, 0 96%, 0 48%, 0 0); ver 2*/
  /* clip-path: polygon(0 35%, 0 96%, 53% 100%, 100% 96%, 99% 0, 0% 0%); ver 3*/
  clip-path: polygon(0 35%, 0 96%, 49% 100%, 100% 96%, 99% 0, 0% 0%);

  z-index: 2;
  padding-bottom: 0px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  /* -webkit-perspective: 1px; */
  /* border: 2px solid green; */
  overflow: hidden;
}

.case-main {
  justify-items: end;
  margin-top: 100px;
}
.case_title {
  padding: 0;
  margin-bottom: -15px;
}
.case_subtitle {
  grid-column: 2;
  text-align: end;
  margin-top: 44px;
  margin-bottom: 76.5px;
}
.case-title_wrapper {
  width: 50%;
  padding-top: 0;
  padding-bottom: 0;
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: end;
  border-bottom: 2px solid #002d80;
  margin-top: -35px;
}

.case-main {
  display: grid;
  place-content: center;
}

/*----------------------------
  Case Banner  
----------------------------*/
.case-banner_wrapper {
  z-index: -1;
  /* margin-top: -650px; */
  margin-top: -150px;
  position: relative;
  /* border: 1px solid red; */
  z-index: -1;
}

.case-banner_filter {
  z-index: 3;
  position: absolute;
  inset: 0;
  opacity: 0.6;
}
.case-banner {
}
.case-banner_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 4;
  /* border: 1px solid red; */
  width: max-content;
}
/* @media(max-width:1700){
  .case-banner_wrapper {
    z-index: -1;
    margin-top: -450px;
    position: relative;
  }
}*/
@media (max-width: 1300) {
  .case-banner_wrapper {
    transform: translateY(100);
  }
}

/*----------------------------
  Case Card 
----------------------------*/
.case-card_wrapper {
  grid-column: 2;
  width: min-content;
  display: grid;
  place-items: center;
  margin-top: 150px;
  /* border: 1px solid red; */
}
.case-card_list {
  width: min-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px;
}
.case-card {
  width: 400px;
  height: 300px;
  background-color: #002d80;
  border-radius: 10px;
  margin-bottom: 60px;
  padding-top: 23px;
  padding-left: 30px;
  padding-right: 30px;
}

.case-card_1,
.case-card_3,
.case-card_5,
.case-card_7 {
  grid-column: 2;
}

.case-card_2,
.case-card_4,
.case-card_6,
.case-card_8 {
  grid-column: 1;
  transform: translateY(-150px);
}

.case-card_top {
  display: grid;
  justify-content: space-between;
  align-items: center;
  grid-template-columns: 1fr fit-content;
  grid-template-rows: 1fr;
  margin-bottom: 14.6px;
}

.case_number {
  grid-column: 1;
  margin: 0;
}
.case-card_title {
  grid-column: 2;
  margin: 0;
  text-align: end;
}

/*----------------------------
 Case Decor 
----------------------------*/
.case-card {
}
.case-decor {
  position: absolute;
  width: 248.95px;
  height: 370.15px;
}
.case-decor_1 {
  top: 100px;
  top: 0px;
  left: 300px;
}

.case-decor_2 {
  top: 300px;
  right: 400px;
  z-index: -2;
}
.case-decor_3 {
  top: 800px;
  left: 300px;
}

@media (max-width: 1900px) {
  .case-decor_1 {
    top: 100px;
    top: 0px;
    left: 200px;
  }
  .case-decor_2 {
    top: 300px;
    right: 300px;
  }
  .case-decor_3 {
    top: 75%;
    top: 800px;
    left: 200px;
  }
}
