/* ------------------- */
/*       CONTACT       */
/* ------------------- */

#contact {
  z-index: 2;
  background-color: #2bb9fc;
  position: relative;
  min-height: 2500px;
}

.contact_top {
  width: 1084px;
  height: 586px;
  position: relative;
}

.contact_img {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.contact_filter {
  position: absolute;
  inset: 0;
  z-index: 2;
  opacity: 0.6;
}

.contact-top_wrapper {
  position: absolute;
  top: -250px;
  right: 0;
}

.contact-title_wrapper {
  /* z-index: 3;
  position: absolute;
  bottom: -125px;
  right: 50%;
  transform: translateX(50%); */

}
.contact-title_wrapper {
  z-index: 3;
 position: relative;
 /* border: 1px solid red; */
 margin-top: 150px;
 margin-bottom: -500px;

}
.contact_title {
  display: flex;
  justify-content: flex-end;
}
.contact-subtitle {
  line-height: 44.5px;
  text-align: end;
}
/*----------------------------
  Form    
----------------------------*/
#contact {
  display: grid;
  place-content: center;
}
.form-wrapper {
  border-radius: 20px;
  background-color: white;
  width: 960px;
  margin-top: 500px;
  padding-bottom: 77px;
}

.form-title_top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 57px;
  margin-bottom: 60px;
}

/*----------------------------
  Form Grid
----------------------------*/
.contact-form {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  place-content: center;
}

.inner {
  /* border: 1px solid red; */
  grid-column: 2;
  min-width: 852px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-item {
  display: flex;
  justify-content: space-between;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="datetime-local"],
textarea {
  width: 620px;
  height: 60px;
  border-radius: 10px;
  border: none;
  background-color: #e6f5fc;
  padding-left: 33px;
}

textarea {
  height: 260px;
  resize: none;
  padding-top: 13.5px;
}

#zip {
  width: 200px;
}

::placeholder {
  color: #c8c8c8;
}

.classification-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.label-name {
  width: 224px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.radio-inner {
  width: 620px;
  display: flex;
}
.classification_label {
}

/*----------------------------
  Radio Buttons  
----------------------------*/
.radio-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.first-radio {
  margin-right: 55px;
}

input[type="radio"] {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: 6px;
  padding: 0;
  border-radius: 50%;
  background: #e6f5fc;
  outline: none;
}

input[type="radio"]:not(:disabled):checked {
  background-clip: content-box;
  padding: 2px;
  background: #e6f5fc;
}

.radio-label {
  display: flex;
  align-items: center;
}
.inquiry-details {
  display: flex;
  flex-direction: column;
  gap: 18.84px;
}
.custom-radio {
  display: inline-block;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 8px;
  border: 2px solid #e6f5fc;
  background-color: #e6f5fc;
}

.radio-label:hover .custom-radio,
[type="radio"]:focus + label .custom-radio {
  transform: scale(1.1);
}
[type="radio"]:checked + label .custom-radio {
  background-color: black;
  border: 3px solid #e6f5fc;
}

/*----------------------------
  Address   
----------------------------*/

.address-wrapper {
  display: flex;
  justify-content: space-between;
}
.address_right {
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.postal-wrapper {
  display: flex;
}

.label-name {
  width: max-content;
  margin-right: 10px;
}

/*----------------------------
  Submit Buttons  
----------------------------*/

.submit-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit_btn {
  width: 200px;
  height: 60px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  background-color: #002d80;
  display: grid;
}

.submit_btn:hover {
  cursor: pointer;
  transform: scale(0.95);
}
/*----------------------------
  From Wrapper Bottom 
----------------------------*/

.form-wrapper_bottom {
  margin-top: 75px;
}

.form-title_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sns {
  display: flex;
  gap: 31px;
}
.sns_img {
  width: 80px;
  height: 80px;
}
.form-sns-container {
  margin-top: 30px;
  display: grid;
  place-content: center;
}
/*----------------------------
  From Required Indicator
----------------------------*/
.required_item {
  position: relative;
}
.required_item::after {
  content: "※";
  position: absolute;
  top: -5px;
  right: -5px;
  height: 15px;
  width: 10px;
  font-size: 10px;
}
