/* ------------------- */
/*       CONTACT       */
/* ------------------- */

#top_contact{
  background-color: #2bb9fc;

}
.indexContact{
  z-index: 2;
  position: relative;
}
.contact_top {
  width: 1084px;
  height: 586px;
  position: relative;
  position: absolute;
  top: -300px;
  right: 0;
}
.contact_img {
  inset: 0;
  z-index: 1;
}
.contact_filter {
  position: absolute;
  inset: 0;
  z-index: 2;
  opacity: 0.6;
}

.contact-title_wrapper {
  z-index: 5;
  position: relative;
  margin-top: 110px;
grid-column: 2;
margin-bottom: 80px;
 
}
.contact_title {
  display: flex;
  justify-content: flex-end;
 
}
.contact-subtitle {
  line-height: 44.5px;
  text-align: end;
}

/*----------------------------
  Form    
----------------------------*/
#contact {
  display: grid;
  place-content: center;
}
.form-wrapper {
  margin: auto;
  border-radius: 20px;
  background-color: white;
  padding-bottom: 80px;
}
#top .form-wrapper {
  border-radius: 20px;
  /* width: 960px; */
}
form p {
  margin-top: 0;
}
#contact .form-wrapper {
  margin-top: 500px;
}
.form-title_top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 60px 0;
}

/*----------------------------
  Form Grid
----------------------------*/
.contact-form {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  place-content: center;
}
.inner {
  grid-column: 2;
  min-width: 852px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.contact-item {
  display: flex;
  justify-content: space-between;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="datetime-local"],
select,
textarea {
  width: 620px;
  height: 60px;
  border-radius: 10px;
  border: none;
  background-color: #e6f5fc;
  padding-left: 33px;
}
select{
  appearance: none;
  background-color: #E6F5FC;
  height: 60px;
  padding: 0 30px;
  border-radius: 10px;
}
select::-ms-expand {
  display: none;
}
.select_arrow {
  position: relative;
}
.select_arrow::before {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  pointer-events: none;
}
textarea {
  height: 260px;
  resize: none;
  padding-top: 13.5px;
}
#zip {
  width: 200px;
}
::placeholder {
  color: #c8c8c8;
}
.classification-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.label-name {
  width: 224px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.radio-inner {
  width: 620px;
  display: flex;
}

/*----------------------------
  Radio Buttons  
----------------------------*/
.radio-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.first-radio {
  margin-right: 55px;
}
input[type="radio"] {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin: 6px;
  padding: 0;
  border-radius: 50%;
  background: #e6f5fc;
  outline: none;
}
input[type="radio"]:not(:disabled):checked {
  background-clip: content-box;
  padding: 2px;
  background: #e6f5fc;
}
.radio-label {
  display: flex;
  align-items: center;
}
.inquiry-details {
  display: flex;
  flex-direction: column;
  gap: 18.84px;
}
.custom-radio {
  display: inline-block;
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 8px;
  border: 2px solid #e6f5fc;
  background-color: #e6f5fc;
}
.radio-label:hover .custom-radio,
[type="radio"]:focus + label .custom-radio {
  transform: scale(1.1);
}
[type="radio"]:checked + label .custom-radio {
  background-color: #002d80;
  border: 3px solid #e6f5fc;
}

/*----------------------------
  Address   
----------------------------*/
.address-wrapper {
  display: flex;
  justify-content: space-between;
}
.address_right {
  display: flex;
  flex-direction: column;
  gap: 38px;
}
.postal-wrapper {
  display: flex;
}
.postal-wrapper .contact-item {
  align-items: center;
}
.label-name {
  width: max-content;
  margin-right: 10px;
}


.date-wrapper input{
  padding: 0 30px;
}

/*----------------------------
  Submit Buttons  
----------------------------*/
.submit-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.submit_btn {
  width: 200px;
  height: 60px;
  border-radius: 10px;
  background-color: transparent;
  border: none;
  background-color: #002d80;
  display: block;
}
.submit_btn:hover {
  cursor: pointer;
  transform: scale(0.95);
  transition: 0.3s;
}

/*----------------------------
  From Wrapper Bottom 
----------------------------*/
.form-wrapper_bottom {
  margin-top: 75px;
}
.form-title_bottom {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sns {
  display: flex;
  gap: 30px;
}
.icon:hover {
  transition: 0.3s;
  opacity: 0.7;
}
.sns_img {
  width: 80px;
  height: 80px;
}
.form-sns-container {
  margin-top: 30px;
  display: grid;
  place-content: center;
}
.form-bottom_subtitle{
  font-size: 18px;
  margin-top: 30px;
}

/*----------------------------
  From Required Indicator
----------------------------*/
.required_item {
  position: relative;
}
.required_item::after {
  content: "※";
  position: absolute;
  top: 15px;
  right: -10px;
  height: 15px;
  width: 10px;
  font-size: 10px;
}
.classification-wrapper .required_item::after,
.address-wrapper .required_item::after,
.interpretation-use-wrapper .required_item::after{
  top: 0px;
}


/*----------------------------
  mobile  
----------------------------*/

@media (max-width: 1000px) {
  .contact-form{
    display: block;
  }
  form .inner{
    padding: 0 5%;
    min-width: auto;
    gap: 30px;
    font-size: 16px;
  }
  .form-title_top {
    padding: 40px 0;
  }
  .contact-item,
  .classification-wrapper {
    flex-flow: column;
    align-items: start;
    gap: 10px;
  }
  .postal-wrapper .contact-item{
    flex-flow: wrap;
    gap: 0px;
  }
  .address-wrapper{
    display: block;
  }
  .label-name{
    font-size: 16px;
  }
  .address-title{
    margin-bottom: 10px;
    font-size: 16px;
    display: inline-block;
  }
  .address_right {
    gap: 20px;
  }
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  input[type="datetime-local"],
  select, textarea {
    width: 100%;
    height: 40px;
    padding-left: 15px;
  }
  textarea {
    height: 120px;
  }
  .form-title_bottom{
    text-align: center;
    padding: 0 5%;
    font-size: 20px;
  }
  .form-wrapper_bottom {
    margin-top: 40px;
  }
  .submit_btn {
    margin-top: 20px;
  }
  .form-sns-container{
    margin-top: 20px;
  }
  .form-bottom_subtitle{
    margin-top: 20px;
  }
  .form-wrapper{
    padding-bottom: 40px;
  }
  .required_item::after{
    top: 0;
  }
}

