/* ------------------- */
/* CONTACT  */
/* ------------------- */


#contact{
z-index: 2;
background-color: #2BB9FC;
position: relative;
min-height: 2500px;
}

.contact_top{
    width: 1084px;
    height: 586px;
    position: relative;
    
}

.contact_img{
position: absolute;
inset: 0;
z-index: 1;
}

.contact_filter{
    position: absolute;
    inset: 0;
    z-index: 2;
    opacity: .6;
}

.contact-top_wrapper{
position: absolute;
top: -250px;
right: 0;
}

.contact-title_wrapper{
    z-index: 3;
    position: absolute;
    bottom: -125px;
    right: 50%;
    transform: translateX(50%);
    /* border: 1px solid red; */
    /* width: fit-content; */
}
.contact_title{
    display: flex;
    justify-content: flex-end;
}
.contact-subtitle{
    line-height: 44.5px;
    text-align: end;
}

/* ------------------- */
/* form                */
/* ------------------- */
#contact{
    display: grid;
    place-content: center;
}
.form-wrapper{
    border-radius: 20px;
    background-color: white;
    margin-top: 100px;
    width: 960px;
}

.form-title_top{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 57px;
    margin-bottom: 60px;
}

/* form grid */

.contact-form {
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    place-content: center;
}

.inner{
    border: 1px solid red;
    grid-column: 2;
    min-width: 852px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* #contact form input {
    width: 620px;
} */

.contact-item{
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-between;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="datetime-local"],
textarea
{
    width: 620px;
    border-radius: 10px;
    border: none;
    background-color: #E6F5FC;


}

#zip{
    width: 200px;
}

::placeholder {
    color:#C8C8C8;
  }