/* ------------------- */
/*       FLOW          */
/* ------------------- */

#flow {
  background-color: #2bb9fc;
  padding-bottom: 62.9px;
}

.flow_container {
  margin-top: 33px;
  padding: 0;
}

.flow_top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 59.3px;
}

/*----------------------------
  flow-top      
----------------------------*/
.flow_title {
  text-align: center;
  position: relative;
  border-bottom: 1px solid white;
  width: 70%;
}

.flow-description_wrapper {
  margin-top: 39px;
}

.flow-description {
  text-align: center;
}

.flow-description_line--1,
.flow-description_line--2 {
  margin-bottom: 30px;
}

/*----------------------------
  Flow-Center    
----------------------------*/
.flow_center {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-template-rows: 150px 150px;
  gap: 45.5px;
}

.flow_card {
  min-width: 200px;
  min-height: 150px;
  background-color: white;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 27px 1fr 27px;
  position: relative;
  margin-right: 45.5px;
}

#flow-card-btn {
  width: 145.79px;
  height: 47.77px;
  display: grid;
  place-items: center;
  padding: 0;
  grid-column: 2;
}
.flow-card_number {
  position: absolute;
  top: -25%;
  left: 0px;
  z-index: 3;
}
.card_decor {
  position: absolute;
  top: -5%;
  left: -5%;
  width: 75.77px;
  aspect-ratio: 1;
}
.flow_contact-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 116.74px;
  height: 24px;
}

.flow_svg {
  width: 15.2px;
  height: 10.45px;
}

.arrow::after {
  content: url("../../images/flowSection/arrow.svg");
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
  width: 14.39px;
  height: 28.78px;
}

.flow-card_title {
  grid-column: 2;
  height: min-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.c-2 .flow-card_title,
.c-3 .flow-card_title,
.c-4 .flow-card_title,
.c-5 .flow-card_title,
.c-6 .flow-card_title,
.c-7 .flow-card_title,
.c-8 .flow-card_title {
  margin-top: 59.6px;
  text-align: center;
}

#flow-card-btn {
  margin: 0;
}

.c-1 {
  place-content: center;
  gap: 11.2px;
}

.c-8 .flow-card_title {
  transform: translateY(-20%);
}

/*----------------------------
  Flow-Bottom     
----------------------------*/
.flow_bottom {
  display: grid;
  place-items: center;
}

/*----------------------------
   Mobile
----------------------------*/

@media (max-width: 768px) {
  .flow_title {
    width: 60%;
  }
}
@media (max-width: 425px) {
  .flow_title {
    width: 100%;
  }
  .flow_center {
    display: flex;
    gap: 0px;
    overflow-x: scroll;
    overflow-y: visible;
    width: calc(100vw - 40px);
    padding: 10px;
  }
  .flow_container {
    margin-top: 33px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .flow_card {
  }
}
.flow-description_mobile {
  line-height: 42px;
}
