/* ------------------- */
/*     HERO / KV       */
/* ------------------- */
#hero {
  z-index: 2;
}
.kv_container {
  grid-column: 2;
  position: relative;
  height: fit-content;
  display: grid;
  place-content: center;
  width: min-content;
}
.kv {
  max-width: revert;
  width: 960px;
  height: 600px;
  border-radius: 20px;
  z-index: 1;
}
.hero-decor {
  position: absolute;
  width: 248.95px;
  height: 370.15px;
  z-index: 2;
  top: 16%;
  left: -200px;
  z-index: 2;
}
.kv-subtitle_container {
  position: absolute;
  z-index: 3;
  top: 20%;
  right: 43%;
  width: max-content;
}
.kv_subtitle {
  background-image: linear-gradient(90deg, #49c9ff, #002d80);
  width: fit-content;
  padding: 3px;
  margin: 10px;
}
.kv-title {
  margin-top: 10px;
}
.scroll-img {
  z-index: 4;
  position: absolute;
  bottom: -15%;
  left: 100px;
}
.hero-container {
  position: relative;
}
.kv-news_container {
  background-color: white;
  position: absolute;
  bottom: -20%;
  left: 35%;
  z-index: 3;
  width: 100%;
  border-radius: 20px 0 0 20px;
}
.kv-news {
  display: flex;
  align-items: flex-start;
  gap: 150px;
  width: 100%;
  position: relative;
}
.kv-main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 33px;
}
.topic {
  display: flex;
  align-items: center;
  gap: 29px;
  border-bottom: 1px solid #002d80;
}
.headline::after {
  content: "...";
}
.kv-news_left {
  margin-top: 40px;
  margin-left: 40px;
}
.see-more {
  width: 100%;
  margin-bottom: 32px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-decoration: none;
  color: black;
}
.see-more p {
  margin-right: 16px;
}
.decor_corner {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.kv-news_subtitle {
  margin-top: 5px;
}

/*----------------------------
   Mobile
----------------------------*/

/*...........
   KV image 
  ...........*/
@media (max-width: 1000px) {
  .kv {
    width: calc(100vw - 20px);
    height: auto;
    object-fit: fill;
  }
}
@media (max-width: 425px) {
  .kv {
    min-width: 370px;
    min-height: 349px;
    object-fit: cover;
  }
  .kv_container {
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  /*KV decorration img*/
  .hero-decor {
    position: absolute;
    width: 85.78px;
    height: 127.54px;
    z-index: 2;
    top: 50px;
    left: -33px;
  }
  .kv-subtitle_container {
    position: absolute;
    z-index: 3;
    top: 20%;
    left: 10px;
    width: max-content;
  }
  .scroll-img {
    z-index: 4;
    position: absolute;
    bottom: -45%;
    left: 0px;
  }
  /*news container mobile styles*/
  .kv-news_container {
    background-color: white;
    position: absolute;
    bottom: -200px;
    left: 35%;
    z-index: 3;
    width: 80%;
    border-radius: 20px 0 0 20px;
  }
  .kv-news {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    position: relative;
    padding-left: 20px;
  }
  .kv-main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
  }
  .topic {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #002d80;
  }
}

@media (max-width: 640px) {
  .kv-news_container {
    background-color: white;
    position: absolute;
    bottom: -230px;
    left: 15%;
    z-index: 3;
    width: 100vw;
    border-radius: 20px 0 0 20px;
  }
}

@media (max-width: 430px) {
  .see-more {
    width: 50%;
    margin-bottom: 32px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    text-decoration: none;
    color: black;
    margin-left: 35%;
  }
  .kv-news_left {
    margin-top: 40px;
    margin-left: 0px;
  }
  .hero-decor {
    position: absolute;
    width: 85.78px;
    height: 127.54px;
    z-index: 2;
    top: 10px;
    left: -20px;
  }
  .kv-subtitle_container {
    position: absolute;
    z-index: 3;
    top: 10%;
    left: 10px;
    width: max-content;
  }
}

