@media (min-width: 1000px) {
  .indexContact {
    display: grid;
    place-content: center;
  }
  .wrapper {
    min-width: 960px;
    width: 960px;
    grid-column: 2;

  }
  .indexContact {
    background-color: #002D80;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 1000px) {
  .wrapper {
    margin-left: 20px;
    margin-right: 20px;
  }
  .indexContact {
    background-color: #002D80;
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 500px) {
  .contact_top {
    width: 330px;
    height: 199px;
    top: -120px;
    right: 0;
  }
  .contact_top img {
    width: 330px;
    height: auto;
  }
  .indexContact {
    margin-top: -300px;
  }
  .contact-title_wrapper {
    margin-bottom: 30px;
  }
  .wrapper {
    margin-left: 0;
    margin-right: 0;
  }
}
