/* ------------------- */
/*   REASONS SECTION   */
/* ------------------- */

#reasons {
  padding-bottom: 85px;
}
/*----------------------------
  Reasons Alignment    
----------------------------*/

.reasons-main {
  display: grid;
  place-content: center;
}
.reasons-inner {
  display: flex;
  margin-top: 120px;
  position: relative;
}

.reasons-title_wrapper {
  position: absolute;
  top: -50px;
}
.reasons-top_bottom,
.reasons_bottom {
  margin-top: 200px;
}
/*----------------------------
  Reasons Top Styles     
----------------------------*/
.reasons-title_wrapper {
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  grid-column: 2;
  display: flex;
  align-items: center;
  justify-content: start;
  width: 105%;
}
.reasons_title {
  width: 50%;
  border-bottom: 2px solid #002d80;
}
.reasons_btn {
  padding: 14.6px 68px 16.4px 68px;
}

.reasons_btn .btn_a::after {
  content: "";
  width: 35px;
  height: 1px;
  background-color: #002d80;
  position: absolute;
  right: -103%;
  top: 50%;
  transform: translateY(-60%);
}

.reasons_btn .btn_a::before {
  content: "";
  width: 35px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  right: -70%;
  top: 50%;
  transform: translateY(-60%);
}
@media (max-width: 425px) {
  .reasons_btn .btn_a::after {
    content: "";
    width: 30px;
    height: 1px;
    background-color: #002d80;
    position: absolute;
    right: -65%;
    top: 50%;
    transform: translateY(-60%);
  }
  .reasons_btn .btn_a::before {
    content: "";
    width: 30px;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    right: -33%;
    top: 50%;
    transform: translateY(-60%);
    z-index: 2;
  }
}
/*----------------------------
  Reasons Bottom Styles    
----------------------------*/
.reasons_list {
  width: 657.63px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 1px solid #2bb9fc;
  position: relative;
}
.reasons-list_item {
  height: 266.67px;
  width: 200px;
  position: absolute;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reasons-list_item:first-child {
  transform: translate(250px, -50px);
  z-index: 2;
}
.reasons-list_item:nth-child(2) {
  transform: translate(430px, 50px);
  z-index: 1;
}
.reasons-list_item:nth-child(3) {
  z-index: 3;
  transform: translate(70px, 50px);
}
.reasons-list_item:nth-child(4) {
  bottom: 0;
  transform: translate(270px, -50px);
  z-index: 1;
}

.reasons-list_item:nth-child(5) {
  bottom: 0;
  transform: translate(100px, 50px);
  z-index: 2;
}

.reasons-list_item:nth-child(6) {
  bottom: 0;
  transform: translate(-80px, -50px);
  z-index: 3;
}
.reasons-list_item p {
  margin: 0;
}

/*----------------------------
   Mobile
----------------------------*/

@media (max-width: 768px) {
  .reasons_title {
    width: 55%;
    border-bottom: 2px solid #002d80;
  }
  .reasons_subtitle {
    text-wrap: nowrap;
  }
  .reasons-inner {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    position: relative;
  }
}

@media (max-width: 425px) {
  .reasons_title {
    width: 80%;
    border-bottom: 2px solid #002d80;
  }
  .reasons_list {
    width: 350px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid #2bb9fc;
    position: relative;
  }

  .reasons-list_item {
    height: 151.77px;
    width: 113.83px;
    position: absolute;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .reasons-list_item:first-child {
    transform: translate(250px, -50px);
    transform: translate(0);
    transform: translate(95px, -50px);
    z-index: 2;
  }
  .reasons-list_item:nth-child(2) {
    transform: translate(430px, 50px);
    transform: translate(0);
    transform: translate(195px, 0px);
    z-index: 1;
  }
  .reasons-list_item:nth-child(3) {
    z-index: 3;
    transform: translate(70px, 50px);
    transform: translate(0);
    transform: translate(-5px, 0px);
  }
  .reasons-list_item:nth-child(4) {
    bottom: 0;
    transform: translate(270px, -50px);
    transform: translate(0);
    transform: translate(160px, 0px);
    z-index: 1;
  }

  .reasons-list_item:nth-child(5) {
    bottom: 0;
    transform: translate(100px, 50px);
    transform: translate(0);
    transform: translate(215px, 0px);
    transform: translate(65px, 50px);
    z-index: 2;
  }

  .reasons-list_item:nth-child(6) {
    bottom: 0;
    transform: translate(-80px, -50px);
    transform: translate(0);
    transform: translate(-35px, 0px);
    z-index: 3;
  }
  .reasons-top_bottom {
    margin-top: 100px;
  }
  .reasons_bottom {
    margin-top: 80px;
  }
  .reasons_btn {
    padding: 10px 30px;
  }
}
