@charset "utf-8";

.under_kv{
  background-image: url(../../../../about/img/about_kv.jpg);
}

/* feature */
.feature{
  position: relative;
  padding: 80px 0 90px;
  text-align: center;
  background-image: url(../../../../about/img/feature_bg.jpg);
  background-position: center bottom;
}
.feature h2{
  margin: auto;
}
.feature .title_line{
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.feature_attention{
  padding: 0 5px;
  background-color: #002D80;
}
.feature_content{
  margin: 80px 0 50px;
  padding: 60px 40px;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  gap: 40px;
}
.feature_flex{
  text-align: left;
  display: flex;
  gap: 40px;
}
.feature_content_title{
  margin-bottom: 30px;
}
.feature_content_title span{
  font-family: var(--trade-gothic);
  font-weight: 900;
  font-style: italic;
}
.feature_flex img{
  width: 360px;
}
.flex_reverse{
  flex-direction: row-reverse;
}
.because{
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 30px;
  font-size: 50px;
  bottom: -50px;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* repeat */
.repeat{
  padding: 210px 0 100px;
  background-image: url(../../../../about/img/repeat_bg.jpg);
  background-position: top;
}
.repeat_flex{
  display: flex;
  justify-content: space-around;
}
.repeat_flex img{
  width: 360px;
}
.repeat .title_line{
  border-bottom: 1px solid white;
}
.repeat .section_title{
  position: relative;
  margin-bottom: 40px;
}

/* voice */
.voice{
  padding: 80px 0;
  background-image: url(../../../../about/img/voice_bg.jpg);
  text-align: center;
}
.voice .title_line{
  border-bottom: 1px solid white;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.swiper-slide{
  background-color: #fff;
  padding: 50px 60px;
  border-radius: 10px;
}
.swiper-inner{
  display: flex;
  gap: 40px;
  align-items: start;
  text-align: left;
}
.swiper-inner h4{
  margin-bottom: 20px;
}
.swiper-inner img{
  width: 360px;
}

/* greeting */
.greeting{
  margin-top: 100px;
  margin-bottom: -320px;
}
.greeting_position{
  position: relative;
  top: -30px;
}
.greeting_inner{
  color: #fff;
  background-color: #002D80;
  border-radius: 10px 0 0 10px;
  padding: 100px 0 100px 180px;
  position: absolute;
  width: 65%;
  top: 170px;
  right: 0;
  z-index: -1;
}
.greeting_message{
  width: 80%;
}
.greeting_attention{
  font-family: var(--trade-gothic);
  font-weight: 400;
  font-size: 50px;
  font-style: italic;
}
.president_name{
  font-size: 26px;
  margin-top: 60px;
  text-align: right;
}
.president_img{
  width: 360px;
  padding-top: 120px;
}
.greeting_deco{
  width: 20%;
  position: relative;
  bottom: 440px;
  z-index: 1;
}


