/* ------------------- */
/* PRIMARY NAVBAR      */
/* ------------------- */

.nav-container {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 50px;
  position: relative;
}

.primary-nav_ul {
  display: flex;
  gap: 100px;
  height: 40px;
}
.primary-nav_ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.langauge-btn-container {
  position: absolute;
  top: 0;
  right: 0;
}
.lang-btn {
  background-color: transparent;
  border: none;
  color: #c8c8c8;
}
.lang-btn:hover {
  cursor: pointer;
}

.active-lang {
  color: #000000;
}

.primary_contact-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 5px;
  padding-left: 60px;
  border-left: 1px solid #002d80;
  height: 40px;
}
.primary_contact {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.primary_link {
  text-decoration: none;
  color: #002d80;
}
.primary_link:hover,
.primary_contact-wrapper img:hover {
  cursor: pointer;
}
