/* import fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;700&display=swap");

/* ------------------- */
/* variables              */
/* ------------------- */

:root {
  --noto-sans: "Noto Sans JP", sans-serif;
  --trade-gothic: trade-gothic-next, sans-serif;
}

body {
  font-family: var(--noto-sans);
}

/*----------------------------
  Font weight /フォントの太さ 
----------------------------*/
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}

/*----------------------------
  Font Style /フォントのスタイル 
----------------------------*/
.gothic-italic {
  font-family: var(--trade-gothic);
  font-weight: 400;
  font-style: italic;
}
/*----------------------------
  Font Sizes / フォントサイズ
----------------------------*/
.fs-16 {
  font-size: 16px;
}
.fs-64 {
  font-size: 64px;
}
.fs-86 {
  font-size: 86px;
}
.fs-40 {
  font-size: 40px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.fs-24 {
  font-size: 24px;
}
.fs-14 {
  font-size: 14px;
}
.fs-12 {
  font-size: 12px;
}
.fs-27 {
  font-size: 27px;
}
.fs-32 {
  font-size: 32px;
}
.fs-28 {
  font-size: 28px;
}
.fs-49 {
  font-size: 49px;
}
.fs-30 {
  font-size: 30px;
}
.fs-17 {
  font-size: 17px;
}

.fs-38 {
  font-size: 38px;
}
/*----------------------------
  Font Colors / フォントの色"
----------------------------*/

.yellow {
  color: #ffff00;
}

.white {
  color: #ffffff;
}

.blue {
  color: #002d80;
}

.lightblue{
  color: #2BB9FC;
}

/*----------------------------
  Mobile    / モバイル
----------------------------*/
/*---------------------------------------------------------
  Top Page - Titiles font size (responsive)
 トップページ - タイトルのフォントサイズ（レスポンシブ）
-----------------------------------------------------------*/

/* PC -> 86px 
mobile -> 60px */

@media (max-width: 425px) {
  .fs-86 {
    font-size: 60px;
  }
}
/*---------------------------------------------------------
  Top Page - Subtitles font size (responsive)
  トップページ - サブタイトルのフォントサイズ（レスポンシブ
-----------------------------------------------------------*/

/* PC -> 40px 
mobile -> 24px */
@media (max-width: 425px) {
  .fs-40 {
    font-size: 24px;
  }
}

/*---------------------------------------------------------
Top Page - normal font size (responsive)
  トップページ - 段落のフォントサイズ（レスポンシブ）
-----------------------------------------------------------*/
/* PC -> 16px 
mobile -> 14px */

@media (max-width: 425px) {
  .fs-16 {
    font-size: 14px;
  }
}
/*---------------------------------------------------------
  Top Page - Button-Font Size (responsive)
 トップページ - ボタンのフォントサイズ（レスポンシブ）
-----------------------------------------------------------*/

/* PC -> 20px 
mobile -> 18px */
@media (max-width: 425px) {
  .section_btn .fs-20 {
    font-size: 18px;
  }
}


/*---------------------------------------------------------
  Top Page - Case Card title-Font Size (responsive)
トップページ - Caseカードのタイトルのフォントサイズ（レスポンシブ）
-----------------------------------------------------------*/

/* PC -> 24px 
mobile -> 18px */
@media (max-width: 425px) {
  .fs-24 {
    font-size: 18px;
  }
}

/*---------------------------------------------------------
  Top Page - Case Card paragraph-Font Size (responsive)
トップページ - Caseカードの段落のフォントサイズ（レスポンシブ）
-----------------------------------------------------------*/

/* PC -> 16px 
mobile -> 14px */
@media (max-width: 425px) {
  .case-card-mobile .fs-16 {
    font-size: 14px;
  }
}



/*---------------------------------------------------
  Top Page - Hero: KV font size (responsive)
  トップページ - ヒーロー: KVのフォントサイズ（レスポンシブ）
-------------------------------------------------------*/

@media (max-width: 768px) {
  .kv_subtitle {
    font-size: 18px;
  }

  .kv-title {
    font-size: 36px;
  }
}

/*---------------------------------------------------------
  Top Page - Hero: News font size (responsive)
  トップページ - ヒーロー: ニュースのフォントサイズ（レスポンシブ
-----------------------------------------------------------*/

@media (max-width: 768px) {
  .kv-news_subtitle {
    font-size: 12px;
  }

  .kv-right {
    font-size: 14px;
  }
}

/*---------------------------------------------------------
  Footer  - font size (responsive)
  フッター -フォントサイズ（レスポンシブ)
-----------------------------------------------------------*/

/* PC -> 16px 
mobile -> 12px */
@media (max-width: 425px) {
 footer .fs-16 {
    font-size: 12px;
  }
}

/*---------------------------------------------------------
  Footer  - font size (responsive)
  フッター -フォントサイズ（レスポンシブ)
-----------------------------------------------------------*/

/* PC -> 16px 
mobile -> 16px */
@media (max-width: 425px) {
  .bottom_link.fs-16 {
     font-size: 16px;
   }
 }