/* ------------------- */
/* Utility             */
/* ------------------- */

/*--------------------------------------------------------------------
アイテムを中央に配置し、両サイドにそれぞれ240pxのマージンを設定したメイングリッド
----------------------------------------------------------------------*/
.main-grid {
  display: grid;
  grid-template-columns: 240px 1fr 240px;
}

/*----------------------------
 グリッドを適用し、コンテンツを中央に配置する
----------------------------*/
.center-grid {
  display: grid;
  place-content: center;
}
.about-grid {
  display: grid;
  place-content: center;
}

/*----------------------------
  main btns in sections
 セクション内のメインボタン
----------------------------*/
.section_btn {
  background-color: #002d80;
  border: none;
  border-radius: 30px;
  padding: 14.6px 41.4px 16.4px 53.6px;
  margin-top: 66.3px;
}
/*----------------------------
  main btns in sections mobile
 セクション内のメインボタン (モバイル)
----------------------------*/
@media (max-width: 425px) {
  .section_btn {
    padding: 10px 30px;
    margin-top: 50px;
  }
}

/*----------------------------
  button hover effect
 ホバー時のボタンエフェクトを追加
----------------------------*/

.btn_effect:hover,
.btn_effect:active {
  transition: 0.3s;
  transform: scale(0.95);
}
.section_btn:hover {
  cursor: pointer;
}

/*----------------------------
  buttons with a line
  ラインが付いたボタン 
----------------------------*/
.btn_a {
  text-decoration: none;
  position: relative;
}
.btn_a::after {
  content: "";
  width: 35px;
  height: 1px;
  background-color: #002d80;
  position: absolute;
  right: -53%;
  top: 50%;
  transform: translateY(-60%);
}
.btn_a::before {
  content: "";
  width: 35px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  right: -30%;
  top: 50%;
  transform: translateY(-60%);
}

/*----------------------------
  Text with gradiation
  グラデーションがかかったテキスト
----------------------------*/
.gradient_text {
  /* border: 1px solid red; */
  width: min-content;
  background-image: linear-gradient(90deg, #49c9ff, #002d80);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*----------------------------
  Make Text Vertical;
  テキストを縦書きにする
----------------------------*/
.vertical {
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/*----------------------------
  Background Colors 
  背景色
----------------------------*/

.bg-dark_blue {
  background-color: #002d80;
}
.bg-light_blue {
  background-color: #49c9ff;
}
.bg-light_white {
  background-color: #fff;
}

/*----------------------------
  Screen Readers  
  画面読み上げソフトのみに見える（人間の目には見えない）
----------------------------*/
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.space{
  margin-left: 5px;
}

/*----------------------------
  Responsive  
  PCタブかモバイルに応じてアイテムを表示する
----------------------------*/

.pc {
  display: block;
}
.tab {
  display: none;
}
.mobile {
  display: none;
}

.tab-and-pc {
  display: block;
}

@media (max-width: 1025px) {
  .nav-container_right .pc {
    display: none;
  }

  .nav-container_right .tab {
    display: block;
  }
}

@media (max-width: 768px) {
  .mobile {
    display: block;
  }
  .tab-and-pc {
    display: none;
  }
}

@media (min-width: 768) and (max-width: 1000px) {
  .tab {
    display: block;
  }
}

@media (max-width: 1000px) {
  .pc {
    display: none;
  }
}

/*---------------------------------------
  add 20px padding to the left and right
  左右に20pxのパディングを追加
---------------------------------------*/

@media (max-width: 425px) {
  .mv-padding-20 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/*---------------------------------------
  add 20px margin to the left and right
  左右に20pxのマージンを追加
---------------------------------------*/

@media (max-width: 425px) {
  .mv-margin-20 {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.nav-white {
  background-color: white;
}
.nav-blue {
  background-color: #2bb9fc;
}
.nav-lightblue {
  background-color: #e6f5fc;
}

.nav-link_white {
  color: white;
}
.nav-link_blue {
  color: #002d80;
}

/*---------------------------------------
  Mobile Version Of The ABOUT Section Btn
  Aboutセクションのモバイル版ボタン
---------------------------------------*/

@media (max-width: 425px) {
  .about-btn .btn_a::after {
    content: "";
    width: 35px;
    height: 1px;
    background-color: #002d80;
    position: absolute;
    right: -45%;
    top: 50%;
    transform: translateY(-60%);
  }
  .about-btn .btn_a::before {
    content: "";
    width: 35px;
    height: 1px;
    background-color: #ffffff;
    position: absolute;
    right: -20%;
    top: 50%;
    transform: translateY(-60%);
  }
}

/*---------------------------------------
  Mobile Version Of The FLOW Section Btn
  FLOWセクションのモバイル版ボタン
---------------------------------------*/
.flow_btn .btn_a::after {
  content: "";
  width: 35px;
  height: 1px;
  background-color: #002d80;
  position: absolute;
  right: -64%;
  top: 50%;
  transform: translateY(-60%);
}
.flow_btn .btn_a::before {
  content: "";
  width: 35px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  right: -35%;
  top: 50%;
  transform: translateY(-60%);
}
