/* ------------------- */
/* Utility             */
/* ------------------- */

.main-grid {
  display: grid;
  grid-template-columns: 240px 1fr 240px;
}
.center-grid {
  display: grid;
  place-content: center;
}

.about-grid {
  display: grid;
  grid-template-columns: 190px 1fr;
  place-content: center;
}

.section_btn {
  background-color: #002d80;
  border: none;
  border-radius: 30px;
  padding: 14.6px 41.4px 16.4px 53.6px;
  margin-top: 66.3px;
}

.section_btn:hover {
  cursor: pointer;
}

.btn_a {
  text-decoration: none;
  position: relative;
  /* border: 1px solid red; */
}
.btn_a::after {
  content: "";
  width: 35px;
  height: 1px;
  background-color: #002d80;
  position: absolute;
  right: -53%;
  top: 50%;
  transform: translateY(-60%);
}
.btn_a::before {
  content: "";
  width: 35px;
  height: 1px;
  background-color: #ffffff;
  position: absolute;
  right: -30%;
  top: 50%;
  transform: translateY(-60%);
}

.gradient_text{
  /* border: 1px solid red; */
  width: min-content;
background-image: linear-gradient(90deg, #49c9ff, #002d80);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.vertical {
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

/* ------------------- */
/*background colors           */
/* ------------------- */


.bg-dark_blue{
  background-color: #002d80;
}
.bg-light_blue{
  background-color:#49c9ff;
}